.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.jar
TestServeur/dist/README.TXT
TestServeur/manifest.mf
TestServeur/build/
TestServeur/nbproject/
TestServeur/build.xml
gradle/wrapper/gradle-wrapper.properties
.idea/gradle.xml
.idea/vcs.xml
build.gradle
.idea/gradle.xml
